<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
    </div>
  </div>
  <a class="delete" data-doc="<%= blog._id %>">Delete</a> 
  <%- include("./partials/footer.ejs") %>

  <script>
    let deletebutt = document.querySelector('a.delete')

    deletebutt.addEventListener('click' , (e) => {

        let endpoint = `/blogs/${deletebutt.dataset.doc}`
        
        fetch(endpoint , {
            method : 'DELETE'
        })
        .then(response => response.json())
        .then(data => window.location.href = data.redirect)
        .catch(err => console.log(err))
    })
  </script>
</body>
</html>